@use "../variables" as var;

.contact {
    font-family: var.$font;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;

    h3{
        font-size: 4rem;
    }
    a {
        background-color: var.$teal;
        display: inline-block;
        text-align: center;
        padding: 0.57rem 0.57rem;
        text-decoration: none;
        color: black;
        border-radius: .25rem;
        cursor: pointer;
    }
}