@use "../variables" as var;

.about{
    margin-top: 2rem;
    font-family: var.$font;
}
.about-me {
        h2{
    border-bottom: 1px solid lightgray;
    margin-bottom: 2.5rem;
    padding-bottom: 2rem;
    font-size: var.$h2;
        }
    p{
        font-size: var.$body;
    }

    .skills-text{
        font-family: var.$font;
        font-size: var.$body;
        margin: 0;
    }
}
.cv-wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
}

.header-text {
    border-bottom: 1px solid lightgray;
    margin-bottom: 2.5rem;
    padding: 2rem;
    font-size: var.$h2;
}
.work-list {
    display: flex;
    flex-direction: row;
}
.left-divs{
    margin-right: 2rem;
    cursor: pointer;
    
    :hover{
        background: var.$tealgradient;
    }
    h2{
        font-size: var.$h2;
    }
    .left-divs span{
        font-size: var.$body;
    }
}
.right-divs{
    h2{
        font-size: var.$h2;
    }
    p{
        font-size: var.$body;
    }
}

.hidden{
    opacity: 1;
}
.visible{
    opacity: 1;
}
@media screen and (min-width: var.$tablet-bp){
    .work-list {
        display: flex;
        flex-direction: column;
    }
    .cv-wrapper {
        display: flex;
        flex-direction: row;
        border-bottom: none;
        margin-bottom: 1rem;;

       .left-divs {
        width: 33%;
        margin-right: 2rem;
        z-index:1;

        h2{
            margin-top: 0;
            margin-bottom: .2rem
        }
        span {
            margin-top:0;
        }
       }
       .right-divs h2{
        margin-top: 0;
       }
    }
    
    .hidden{
        display: none;
    }
    .visible{
        display: block;
    }
}
