@use "../variables" as var;

.about{
    margin-top: 2rem;
    font-family: var.$font;
    overflow: hidden;
}
.about-me p{

        font-size: var.$body;  
}
.skills{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
}

.skills-text{
    font-family: var.$font;
    font-size: var.$body;
    margin: 0;
    list-style: none;
}
.header-text{
    border-bottom: 1px solid lightgray;
    margin-bottom: 2.5rem;
    padding-bottom: 2rem;
    font-size: var.$h2;
        }
.cv-wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
}

.header-text {
    border-bottom: 1px solid lightgray;
    margin-bottom: 2.5rem;
    padding-bottom: 2rem;
    font-size: var.$h2;
}
.work-list {
    display: flex;
    flex-direction: row;
    
}

.left-divs{
    margin-right: 2rem;
    cursor: pointer;
    max-width: 100vw;
    
    
    :hover{
        background: var.$tealgradient;
    }
    h2{
        font-size: var.$h2;
        margin-bottom: .7rem;
        word-wrap: break-word;
        

    }
    .left-divs span{
        font-size: var.$body;
    }
}
.right-divs{
   
    .title{
        font-size: var.$h3;
        margin-top: 0;
        word-wrap: break-word;
    }
    p{
        font-size: var.$body;
    }
}

.hidden{
    opacity: 1;
}
.visible{
    opacity: 1;
}
@media screen and (min-width: var.$tablet-bp){
    .work-list {
        display: flex;
        flex-direction: column;
    }
    .cv-wrapper {
        display: flex;
        flex-direction: row;
        border-bottom: none;
        margin-bottom: 1rem;;

       .left-divs {
        width: 40%;
        margin-right: 2rem;
        z-index:1;

        h2{
            margin-top: 0;
            margin-bottom: .2rem
        }
        span {
            margin-top:0;
        }
       }
       .right-divs h2{
        margin-top: 0;
       }
    }
    
    .hidden{
        display: none;
    }
    .visible{
        display: block;
    }
}
@media screen and (min-width: var.$desktop-bp) {
    .about-me {
    }.header-text{
        font-size: var.$h2desktop;
    }
    .about-me p{
        font-size: var.$bodydesktop;
    }
    .workplace {
        font-size: var.$h2desktop;
    }
    .skills-text{

        font-size: var.$bodydesktop;
    }
    .left-divs{
        h2{
            font-size: var.$h2desktop;

        }
        .left-divs span{
            font-size: var.$bodydesktop;
        }
    }
    .right-divs{
       
        .title{
            font-size: var.$h3desktop;

        }
        p{
            font-size: var.$bodydesktop;
        }
    }
    
}