@use "../variables" as var;

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 37px;
    margin-right: 37px;
    margin-bottom: 25px;
    height: fit-content;

    p {
        opacity: 0.5;
    }
    .footer-logos{
        margin-left:calc(50% - (30% / 2))
    }
    .footer__socialmedia--linkedinlogo{
        width: 25px;
        opacity: 0.5;
        
    }
    .footer__socialmedia--githublogo{
        width: 25px;
        opacity: 0.5;
        
}
}




//*****************************************************************************************
//---------------------------------- Media query Tablet -----------------------------------
//*****************************************************************************************

@media only screen and (min-width: var.$tablet-bp) {
    footer{
        margin-left: 7px;
        margin-right: 3px;
        justify-content: space-evenly;
        align-items: center;
    }
        

        .footer__socialmedia--linkedinlogo{
            margin-top: 10px;
            width: 25px;
            opacity: 0.5;
        }
    
        .footer__socialmedia--githublogo{
            width: 25px;
            opacity: 0.5;
        }
    
}

//*****************************************************************************************
//---------------------------------- Media query Desktop -----------------------------------
//*****************************************************************************************

@media only screen and (min-width: var.$desktop-bp) {
    
        .footer__socialmedia--linkedinlogo{
            width: 25px;
            opacity: 0.5;
        }
    
        .footer__socialmedia--githublogo{
            width: 25px;
            opacity: 0.5;
        }
}

