@use "../variables" as var;

.presentation {
  font-family: var.$font;
  margin-top: 4rem;
  margin-bottom: 3rem;
  display: flex;
  display: inline-flex;
  flex-direction: column;

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
.presentation__p--sm {
  text-transform: uppercase;
  font-size: var.$body-small;
  letter-spacing: 0.18rem;
  
}

.presentation__h1 {
  font-size: var.$h1;
  line-height: 1.3;
  margin-top: 0;
  font-weight: 800;
}
.presentation__p {
  font-size: var.$body;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  font-weight: 400;

}

.text {
  background: var.$tealgradient;
}
.d-block {
  display: block !important;
}

@media screen and (min-width: var.$desktop-bp) {

  .presentation__p{
    font-size: var.$bodydesktop;
  }
  .presentation__p--sm {
    font-size: var.$body-smalldesktop;
  }
  .presentation__h1{
    font-size: var.$h1desktop;
  }
  
}
