$font: "Poppins", sans-serif;
$h1desktop: 6rem;
$h2desktop:3.25rem;
$h3desktop: 2.7rem;
$bodydesktop: 2rem;
$body-smalldesktop: 1.7rem;

$h1: 4rem;
$h2: 1.3rem;
$h3: 1.1rem;
$body: 1rem;
$body-small: 0.7rem;


//colors
$teal: #08c5d5;
$tealgradient:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,255,255,1) 100%);
$almostblack: #0f172a;
$purple: #6f46ff;
$almostwhite: #f0e5e3;

//link-colors

$hover: var($purple);
$underline: var($teal);

//breakpoints
$mobile-bp: 375px;
$tablet-bp: 744px;
$desktop-bp: 1440px;
