$font: "Poppins", sans-serif;
$h1: calc(1.675rem + 5.1vw);
$h2:calc(1.4rem + 5.1vw);
$body: calc(1.286rem + .432vw);
$body-small: calc(1rem + .432vw);


//colors
$teal: #08c5d5;
$tealgradient:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,255,255,1) 100%);
$almostblack: #0f172a;
$purple: #6f46ff;
$almostwhite: #f0e5e3;

//link-colors

$hover: var($purple);
$underline: var($teal);

//breakpoints
$mobile-bp: 375px;
$tablet-bp: 744px;
$desktop-bp: 1440px;
